html{
    font-size: 18px;
    font-family: "Roboto" sans-serif;
  }

  body{
      font-family: "Oxygen" sans-serif;
      background-color:white;
  }
 * {
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
  header{
      display: flex;
      border-bottom: solid 1px #c6c1c1;
      background-color: #2e3830;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4rem;
      padding: 0 24px;
      
}

header .logo{
    display:flex;
    height: 2rem;
    align-items: center;
    padding:1.875rem;
    
}

.nono1{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.nono2{
    text-transform: uppercase;
    color: white;
}

.desktop{
    display: block;
    padding: 1.5rem;
}

.desktop a{
    margin-left: 1rem;
    
}

a{
    color: white;
    text-decoration: none;
}

header .mobile {
    display: none;
}
#learn{
    display: flex;
    width: 100%;
    background-color:#e6dbc9;

    
}

.image-holder{
    width: 60%;
    height:auto;
    align-items: center;
    padding: 2rem 1.33rem;
    
    
}

.image-holder img{
   width: 100%;
   height: auto;

}
.word{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-left: 40px;
    color: black;
}
#learn h1{
    font-family: "Rufina" serif;
    line-height: 1.8;
    font-size: 2rem;
}

#learn h2{
    font-size: 1rem;
    margin: 32px 0 24px 0;
}

 button{
    background-color: black;
    font-size: 1rem;
    font-family: "Oxygen" sans-serif;
    border: 2px solid black;
    padding: 10px 0;
    text-align: center;
    margin-right: 60px;
    margin-top: 24px;
    transition: background-color 700ms ease-in 400ms;
    border-radius: 4px;
  
}

button p{
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    color: white;
    transition: color 1s ease-in 1s;
}
button p:hover{
    color: black;
}
button:hover{
    background-color: turquoise;
}

#practice{
    display: flex;
    background-color: #e6dbc9;
    border: 1px solid black;
}
.content{
    padding: 32px 24px;
    border-right: 2px solid black;
    background-color: #2e3830;
    color: white;
    
}

.image-holder1{
    width: 100%;
    height:auto;
    align-items: center;
}

.image-holder1 img{
    width: 100%;
    height: auto;
 
 }

 #practice h1{
    font-family: "Rufina" serif;
    line-height: 1.8;
    font-size: 2rem;
    margin: 32px 0 24px 0;
 }

 #practice p{
     font-size: 1rem;
     font-family: "cursive" serif;
 }

 .quoted{
     margin: 20px 0;
     font-weight: bold;
 }

 .info{
     min-width: 432px;
     background-color: #2e3830;
 }

 .single{
     display: flex;
     min-height: 168px;
     transition: background-color 1s ease-in 1s;
     color: white;
     
    
     
 }

 .single:hover{
    background-color: #845007;
 }

 .image-holder2{
     max-width: 33%;
     height: auto;
     margin: 16px;
 }
 .image-holder2 img{
     width: 100%;
     height: auto;
 }

 #practice .mobile{
     display: none;
 }

 .text-holder{
     display: flex;
     flex-flow: wrap column;
     justify-content: center;
     margin-right: 8px;
     transition: color 700ms ease-out 200ms;
     color: white;
     
    
     
}
.text-holder a{
    color: white;
    transition: color 700ms ease-out 200ms;
}
.text-holder a:hover{
    color: black;
}
.text-holder:hover{
   
    color: black;
}
#practice h3{
    font-family: "Rufina" serif;
    font-size: 1.5rem;
    
}

#practice h4{
    font-family: "Oxygen" serif;
    font-size: 0.8rem;
    margin: 8px 0;
}

#big-container{
    padding: 1.77rem 4rem;
    background-color: #e6dbc9;
}

.center{
    text-align: center;
}

#big-container .text{
   
    margin-bottom: 1.77rem;
    padding: 0 .625rem;

  }

  #big-container h1{
    font-family: "Rufina" serif;
    font-size: 2rem;
    padding: 32px 0 16px 0;
  }

  #big-container h2{
    font-family: "Rufina" serif;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  #big-container h3{
    font-family: "Oxygen" serif;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  #big-container p{
    font-size: 1rem;
    font-family: "Oxygen" serif;
}

  
.images-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}

.image-container{
    overflow: hidden;
    width:30%;
    padding-bottom: 1.33rem;
    margin: 1rem;
}
.image-container img{
    display: block;
    max-width: 100%;
    height: auto;
  }

